
#contain {
	height:96vh;
}


#contain > div {
	width:100%;
	height:100%;
	position:relative;
	display:block;
}
#contain > div:not(#pokémon) {
	display:none;
}



#contain > div > section[name='list'] > div:last-child {
	height:90%;
	width:100%;
	display:block;
	z-index:10;
	overflow:auto;

	background:var(--Background_Main_List_Content);
	color:var(--Color_Main_List_Content);
	border:var(--Border_Main_List_Content);
	border-bottom: none;
    border-left: none;
    border-top: none;
}
#contain > div#item > section[name='list'] > div:last-child {
	height:85%;
}

#contain > div > section[name='list'] ol {
	width:100%;
	display:inline-block;
	margin:5px 0 10px 0;
}

#contain > div > section[name='list'] ol label {
	display:flex;
	align-items:center;
	justify-content: center;
	margin:5px auto;
	text-align:center;

	background:var(--Background_Main_List_Content_Label);
	color:var(--Color_Main_List_Content_Label);
	border:var(--Border_Main_List_Content_Label);
}
#contain > div#item > section[name='list'] ol label:has(img) {
	justify-content: space-between;
}

#contain > div > section[name='list'] ol label > * {
	padding: 0 20px;
}
#contain > div > section[name='list'] ol label.hidden,
#contain > div > section[name='list'] ol label.filtered {
	display: none;
}

#contain > div > section[name='list'] ol label:active,
#contain > div > section[name='list'] ol input:checked + label {
	background:var(--Background_Main_List_Content_Label_Selected);
	color:var(--Color_Main_List_Content_Label_Selected);
}







#contain span[name='exit'] {
	position:absolute;
    width:60%;
    height:50%;
    padding:0 2vw;
    display:flex;
    justify-content:center;
    align-items:center;
    pointer-events:none;
    font-size:var(--sizeFontXL);
}
#contain span[name='exit']::after {
	position:absolute;
    right:0;
    content:'⨯';
    cursor:pointer;
    pointer-events:auto;
    width:2vw;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}


#contain div#pokémon span[name='exit'] {
	width:90%;
	height:40%;
}






#contain span[name='exit']:active ~ input::placeholder {
	opacity:0;
}
#search input[type='search']::placeholder, #contain > div > section[name='list'] input[type='search']::placeholder {
	opacity:0.5;
}




#contain > div > section[name='list'] div:first-child {
	display:block;
	width:100%;
	height:10%;
	z-index:100;
    position:relative;
}
#contain > div > section[name='list'] > div:first-child {
	background:var(--Background_Main_List_Header);
	color:var(--Color_Main_List_Header);
	border:var(--Border_Main_List_Header);
	border-top:none;
	border-left:none;
}



#contain > div#item > section[name='list'] div:first-child {
	height:15%;
	display:flex;
    flex-direction:column;
}
#contain > div#item > section[name='list'] ol label p {
	width:100%;
}
#contain > div#item > section[name='list'] ol label span {
	position:relative;
}
#contain > div#item > section[name='list'] ol label img {
	max-height:100%;
	max-width:100%;
}

#contain > div > section[name='list'] div:first-child h2 {
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

#contain > div > section[name='list'] > div:first-child > *:first-child {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
	position:relative;
}
#contain > div#item > section[name='list'] > div:first-child > *:first-child {
	height:200%;
}

#contain > div > section[name='list'] div:first-child input[type='search'] {
	width:60%;
	height:50%;
	padding:0 10px;
	display:block;
	text-align:center;

	background:var(--Background_Main_List_Header_Search);
	color:var(--Color_Main_List_Header_Search);
	border:var(--Border_Main_List_Header_Search);
}




#contain > div#item > section[name='list'] > div:first-child > *:last-child {
	display:inline-flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:150%;
}
#contain > div#item > section[name='list'] > div:first-child > *:last-child label {
	display:flex;
    align-items:center;
	justify-content:flex-start;
    width:100%;
    height:100%;
	text-align:center;
	flex-direction:column;
}


#contain > div#item > section[name='list'] > div:first-child > *:last-child label img {
	max-height:30px;
    max-width:80%;
}

#contain > div#item > section[name='list'] > div:first-child > *:last-child label img[src=""] {
	visibility:hidden;
	position:relative;
}
#contain > div#item > section[name='list'] > div:first-child > *:last-child label img[src=""]::after {
	content:"?";
    display:flex;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    opacity:1;
    visibility:visible;
    justify-content:center;
    align-items:center;
	font-size:x-large;
}




#contain > div#item > section[name='list'] > div:first-child > *:last-child input:not(:checked) + label img {
	transform:scale(0.9);
	filter:grayscale(1);
}
#contain > div#item > section[name='list'] > div:first-child > *:last-child input:not(:checked) + label img::after,
#contain > div#item > section[name='list'] > div:first-child > *:last-child input:not(:checked) + label *:not(img) {
	opacity:0.25;
} 










#contain div > section[name='list']  {
	width:20%;
	height:100%;
	float:left;
	z-index:4;
	position:relative;
}

#contain div > section[name='header']  {
	width:80%;
	height:20%;
	z-index:3;
	position:relative;
    float:right;
	background:var(--Background_Main_Header_Content);
	color:var(--Color_Main_Header_Content);
	border:var(--Border_Main_Header_Content);
	border-top: none;
	border-left: none;
	border-right: none;
}




#contain div > section[name='content']  {
	width:50%;
	height:80%;
	float:left;
	position:relative;
	z-index:2;

	border:var(--Border_Main_Content);
}



#contain div > section[name='sidebar'] {
	width:30%;
	height:80%;
	float:right;
	position:relative;
	z-index:1;
}






#contain div > section[name='header'] > span:first-child {
	position:absolute;
	bottom:5px;
	left:15px;
	text-align:left;
}

#contain div > section[name='header'] > span:nth-child(2):not(:last-child) {
	position:absolute;
	bottom:5px;
	right:38%;
	text-align:right;
}
#contain div#map > section[name='header'] > span:nth-child(2) {
	right:32%;
}

#contain div > section[name='content'] > *:first-child {
	text-align:left;
	height:100%;
	width:100%;
	overflow:auto;
}
#contain div#move > section[name='content'] > *:first-child {
	height:70%;
}

#contain div > section[name='content'] > *:first-child {
	background:var(--Background_Main_Description_Content);
	color:var(--Color_Main_Description_Content);
	border:var(--Border_Main_Description_Content);
	border-top: none;
    border-left: none;
    border-bottom: none;
}
#contain div#move > section[name='content'] > *:nth-child(2) {
	height:30%;
	display:flex;
    text-align:center;

	background:var(--Background_Main_Menu);
	color:var(--Color_Main_Menu);
	border:var(--Border_Main_Menu);
	border-bottom: none;
    border-left: none;
}


#contain div#move > section[name='content'] > *:nth-child(2) > div:last-child > div {
	padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#contain div#move > section[name='content'] > *:nth-child(2) > div:last-child {
	background:var(--Background_Main_Menu_List);
	color:var(--Color_Main_Menu_List);
	border:var(--Border_Main_Menu_List);
	border-top:none;
	border-right:none;
	border-bottom:none;
}


#contain div > section[name='content'] > h3 {
	padding:2px 10px;
}

#contain div > section[name='content'] > h3 + p {
	padding:0 10px 10px 10px;
}


#contain div > section[name='content'] >  p li {
	list-style:disc;
	padding:0 10px;
}

#contain div > section[name='content'] > p li:first-child {
	padding:10px 10px 0 10px;
}



#contain div > section[name='sidebar'] > * {
	height:100%;
	width:100%;
	position:relative;
	display:flex;
    flex-direction:column;
}

#contain div > section[name='sidebar'] > * > div:first-child {
	width:100%;
	height:15%;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
	position:relative;

	background:var(--Background_Main_Sidebar_Header);
	color:var(--Color_Main_Sidebar_Header);
	border:var(--Border_Main_Sidebar_Header);
	border-left: none;
	border-right: none;
	border-top:none;
}
#contain div > section[name='sidebar'] > * > div:nth-child(2) {
	height:75%;
    width:100%;
    position:relative;
}

#contain div > section[name='sidebar'] > * > div:nth-child(3) {
	height:10%;
    width:100%;
    position:relative;
    display:flex;
    align-items:center;
	border:var(--Border_Main_Sidebar_Footer);
	border-left: none;
    border-right: none;
    border-bottom: none;
}
#contain div#item > section[name='sidebar'] > * > div:first-child > div:not([name='pause']), #contain > div#map > section[name='content'] > *[name='map'] > div > div > div:not([name='pause']) {
	cursor:crosshair;
}

#contain div#item > section[name='sidebar'] > * > div:nth-child(3) {
	height:20%;
}



#contain div#item > section[name='sidebar'] > * > * {
	height:50%;
}


#contain div#item > section[name='sidebar'] > * > div:first-child > div {
	position:relative;
    width:100%;
    height:100%;
    display:flex;
    text-align:center;
    transition-property:transform;
    transition-duration:0.25s;
    transition-timing-function:ease;
    justify-content:center;
    align-items:center;
	background:black;
}

#contain div#item > section[name='sidebar'] > * > div:first-child > div:not([name='pause']) ~ figure[name='pause'] {
	display:none;
}

#contain div#item > section[name='sidebar'] > * > div:first-child figure > * {
	text-shadow:1px 1px 0px var(--border1);
}

#contain div#item > section[name='sidebar'] > * > div:first-child figure {
	position:absolute;
}
#contain div#item > section[name='sidebar'] > * > div:first-child figure[name='fullscreen'] {
	bottom:5px;
	right:5px;
}
#contain div#item > section[name='sidebar'] > * > div:first-child figure[name='pause'] {
	left:5px;
	bottom:5px;
	cursor:default;
}


#contain div#item > section[name='sidebar'] > * > div:first-child figure[name='zoom'] {
	top:5px;
	right:15px;
}

#contain div#item > section[name='sidebar'] > * > div:first-child figure[name='reset'] {
	top:5px;
	left:15px;
}
#contain div#item > section[name='sidebar'] > * > div:first-child figure[name='fullscreen']:active {
	transform:scale(1.2);
}



#contain div > section[name='sidebar'] > div > ul {
	display:block;
	width:100%;
	height:100%;
	overflow:auto;
	background:var(--Background_Main_Sidebar_Content);
	color:var(--Color_Main_Sidebar_Content);
	border:var(--Border_Main_Sidebar_Content);
}

#contain div > section[name='sidebar'] > div > ul li {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	padding:10px 0;
}

#contain div > section[name='sidebar'] > div > ul li {
	border:var(--Border_Main_Sidebar_Content_Item);
	border-top: none;
	border-left: none;
	border-right: none;
}




#contain div > section[name='sidebar'] > div > ul li[name='held'] span[name='description'], #contain div > section[name='sidebar'] > div > ul li[name='pickup'] span[name='description'] {
	width:250%;
}
#contain div > section[name='sidebar'] > div > ul li[name='held'] span[name='pokémon'], #contain div > section[name='sidebar'] > div > ul li[name='pickup'] span[name='ability'] {
	width:100%;
}

#contain div > section[name='sidebar'] > div > ul li[name='held'] span[name='description'] {
	align-items:flex-start;
    text-align:left;
}
#contain div > section[name='sidebar'] > div > ul li span[name='description'] {
	width:200%;
	align-items:flex-start;
	justify-content:flex-start;
	text-align:left;
}
#contain div > section[name='sidebar'] > div > ul li span[name='description'] > *[title] {
	cursor:help;
	text-decoration:underline;
}
#contain div > section[name='sidebar'] > div > ul li span[name='description'] > *[title]:hover {
	text-decoration-style:dashed;
}

#contain div > section[name='sidebar'] > div > ul li span[name='description'] > * > span[title] {
	cursor:help;
}
#contain div > section[name='sidebar'] > div > ul li[name='shop'] span[name='location'], #contain div > section[name='sidebar'] > div > ul li[name='location'] span[name='location'] {
	width:100%;
}

#contain div > section[name='sidebar'] > div > ul li[name='shop'] span[name='description'] {
	width:250%;
}

#contain div > section[name='sidebar'] > div > ul li span[name='pokémon'], #contain div > section[name='sidebar'] > div > ul li span[name='ability'], #contain div > section[name='sidebar'] > div > ul li span[name='location'], #contain div > section[name='sidebar'] > div > ul li span[name='requirement'] {
	flex-direction:column;
}


#contain div > section[name='sidebar'] > div > ul li div {
	width:20%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}


#contain div > section[name='sidebar'] > div > ul li > span, #contain div > section[name='sidebar'] > div > ul li > b {
	width:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}

#contain div > section[name='sidebar'] > div > ul li div, #contain div > section[name='sidebar'] > div > ul li > span, #contain div > section[name='sidebar'] > div > ul li > b {
	padding:0 10px;
}
#contain div > section[name='sidebar'] > div > ul li > b {
	font-weight:normal;
}




#contain div#move > section[name='content'] > *:nth-child(2) > div {
	width:50%;
    height:100%;
    display:inline-block;
}

#contain div#move > section[name='content'] > *:nth-child(2) > div:last-child {
	overflow:auto; 
}

#contain div#move > section[name='content'] > *:nth-child(2) > div:first-child > div {
	width:100%;
    height:50%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    align-content:center;
}

#contain div#move > section[name='content'] > *:nth-child(2) > div:first-child > div > span {
	width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}



#contain div > section[name='sidebar'] > * > div:nth-child(3) label {
	display:flex;
    height:100%;
    width:100%;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    z-index:inherit;
	position:relative;

	background:var(--Background_Main_Sidebar_Footer_Label);
	color:var(--Color_Main_Sidebar_Footer_Label);
	border:var(--Border_Main_Sidebar_Footer_Label);

}

#contain div > section[name='sidebar'] > * > div:nth-child(3) input:checked + label {
	background:var(--Background_Main_Sidebar_Footer_Label_Selected);
	color:var(--Color_Main_Sidebar_Footer_Label_Selected);
}

#contain div#move > section[name='content'] > *:nth-child(2) > div:last-child span[name] {
	text-shadow:0 0 1px BLACK;
}
#contain div#move > section[name='content'] > *:nth-child(2) > div:last-child span[name='positive'] * {
	color:Green;
}

#contain div#move > section[name='content'] > *:nth-child(2) > div:last-child span[name='negative'] * {
	color:Red;
}

#contain div#move > section[name='sidebar'] ul li > span[title='Parent'] > p {
	padding-top:2px;
}





#contain div#move > section[name='content'] > div[name='menu'] > div:last-child > div {
	background:var(--Background_Main_Menu_List_Item);
	color:var(--Color_Main_Menu_List_Item);
	border:var(--Border_Main_Menu_List_Item);
}
#contain div#move > section[name='content'] > div[name='menu'] > div:first-child > div:first-child > span {
	border-left:none;
	border-bottom:none;
	border-top:none;
}


#contain div#move > section[name='content'] > div[name='menu'] > div:first-child > div:last-child > span {
	border-left:none;
	border-bottom:none;
}

#contain div#move > section[name='content'] > div[name='menu'] > div:last-child > div {
	border-left: none;
	border-right: none;
	border-top:none;
}



#contain div#move > section[name='content'] > div[name='menu'] > div:first-child > div > span {
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	box-sizing: content-box;
}



#contain div#move > section[name='content'] > div[name='menu'] > div:first-child > div span img {
	max-width:50%;
}



#contain div#move > section[name='content'] > div[name='menu'] > div:first-child > div {
	width:100%;
	height:50%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	align-content:center;
}

#contain div#move > section[name='content'] > div[name='menu'] > div:first-child > div:last-child span span *:last-child, #contain div#move > section[name='content'] > div[name='menu'] > div:last-child > div[name='movetutor'] span span *:last-child {
	padding:5px 0;
}


#contain div#move > section[name='sidebar'] ul li span {
	width:100%;
}
#contain div#move > section[name='sidebar'] ul li > span {
	display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction:column;
}

#contain div > section[name='content'] > div[name='description'] > * {
	padding:2px 10px;
}
#contain div > section[name='content'] > div[name='description'] > *:first-child {
	padding:10px 10px 5px;
}



#contain div > section[name='content'] > div[name='description'] p br {
	display:block;
	content:'';
	padding:5px;
}






#contain div > section[name='sidebar'] > div > ul li > span[name='item'] img {
	margin:-2px -8px;
}





#contain div#item > section[name='sidebar'] ul li > span[name='item'] {
	width:30%;
	flex-wrap:wrap;
}

#contain div#item > section[name='sidebar'] ul li.hide > span[name='item'] {
	opacity:0.4;
}


#contain div#item > section[name='sidebar'] ul li.hide > span[name='item']:hover {
	filter:unset;
}











#contain div#item > section[name='sidebar'] > * > div:nth-child(3) {
	display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:100%;
    height:15%;
    position:relative;
}


#contain div#item > section[name='sidebar'] > * > div:nth-child(3) > span {
	width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
	text-align:center;
}
#contain div#item > section[name='sidebar'] > * > div:nth-child(3) > span > span {
	display:flex;
    justify-content:center;
    align-items:center;
}

#contain div#item > section[name='sidebar'] > * > div:nth-child(3) > span p {
	display:inline;
}
#contain div#item > section[name='sidebar'] > * > div:nth-child(3) > span img {
	padding:0 2px;
	max-width:12px;

}



#contain div#item > section[name='sidebar'] > * > div:nth-child(3) p img {
	max-width:10px;
}













#contain > div > section[name='header'] span:last-child {
	position:absolute;
    right:0;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}



#contain > div > section[name='header'] span:last-child {
	width:25%;
}


#contain > div > section[name='header'] span:last-child img   {
	max-width:90%;
    max-height:70%;
}


#contain > div#map > section[name='content'] > *[name='map'] {
	width:100%;
    height:80%;
    position:relative;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}
#contain > div#map > section[name='content'] > *[name='map'] > span, #contain > div#map > section[name='content'] > *[name='map'] > div > span {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
	user-select:none;

	background:var(--Background_Map_Content_Redirect);
	color:var(--Color_Map_Content_Redirect);
	border:var(--Border_Map_Content_Redirect);
}
#contain > div#map > section[name='content'] > *[name='map'] > span {
	height:100%;
	width:5%;
}
#contain > div#map > section[name='content'] > *[name='map'] > div > span {
	height:5%;
	width:100%;
}




#contain > div#map > section[name='content'] > *[name='map'] span figure {
	height:100%;
	width:100%;
	display:flex;
    justify-content:center;
    align-items:center;
	transition:.5s ease opacity;
	color:White;
}
#contain > div#map > section[name='content'] > *[name='map'] span[title=''] figure {
	opacity:0;
	pointer-events:none;
}

#contain > div#map > section[name='content'] > *[name='map'] span figure:active {
	font-weight:normal;
}






#contain > div#map > section[name='content'] > *[name='map'] > div {
	width:90%;
    height:100%;
    display:inline-block;
}

#contain > div#map > section[name='content'] > *[name='map'] > div > div  {
	width:100%;
    height:90%;
    background:#000;
    overflow:hidden;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
	position:relative;
}

#contain > div#map > section[name='content'] > *[name='map'] > div > div > div {
	position:relative;
    width:100%;
    height:100%;
    display:flex;
    text-align:center;
    transition-property:transform;
    transition-duration:0.25s;
    transition-timing-function:ease;
    justify-content:center;
    align-items:center;
}

#contain > div#map > section[name='content'] > *[name='map'] > div > div > figure > * {
	text-shadow:1px 1px 0px var(--border1);
}
#contain > div#map > section[name='content'] > *[name='map'] > div > div > figure {
	width:25px;
    height:25px;
	display:flex;
    justify-content:center;
    align-items:center;
	position:absolute;
	z-index:10;
	color:White;
}

#contain > div#map > section[name='content'] > *[name='map'] > div > div > div:not([name='pause']) ~ figure[name='pause'] {
	display:none;
}

#contain > div#map > section[name='content'] > *[name='map'] > div figure[name='pause'] {
	bottom:15px;
	left:10px;
	cursor:default;
}

#contain > div#map > section[name='content'] > *[name='map'] > div figure[name='reset'] {
	top:10px;
	left:10px;
}
#contain > div#map > section[name='content'] > *[name='map'] > div figure[name='zoom'] {
	top:10px;
	right:10px;
}
#contain > div#map > section[name='content'] > *[name='map'] > div figure[name='fullscreen'] {
	bottom:10px;
	right:10px;
}
#contain > div#map > section[name='content'] > *[name='map'] > div figure[name='fullscreen']:active {
	transform:scale(1.2);
}





#contain > div#map > section[name='content'] > *[name='navigation'] {
	display:inline-flex;
	justify-content:center;
	align-items:center;
	height:20%;
	width:100%;
	position:relative;

	background:var(--Background_Map_Content_Footer);
	color:var(--Color_Map_Content_Footer);
	border:var(--Border_Map_Content_Footer);
}

#contain > div#map > section[name='content'] > *[name='navigation'] > div {
	width:50%;
	height:100%;
	text-align:center;
	display:inline-block;

	background:var(--Background_Map_Content_Footer_Item);
	color:var(--Color_Map_Content_Footer_Item);
	border:var(--Border_Map_Content_Footer_Item);
}

#contain > div#map > section[name='content'] > *[name='navigation'] div > span {
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:100%;
	height:100%;
	flex-wrap:wrap;
	overflow:auto;
}

#contain > div#map > section[name='content'] > *[name='navigation'] div > span > span {
	padding:10px;
}

#contain > div#map > section[name='content'] > *[name='navigation'] *[function="dataRedirect"] {
	cursor: pointer;
	user-select:none;
}
#contain > div#map > section[name='content'] > *[name='navigation'] *[function="dataRedirect"]:active {
	font-weight: bold;
}


#contain > div#map > section[name='content'] > *[name='navigation'] div > span > span > span {
	display:flex;
	align-items:center;
	justify-content:center;
}


#contain > div#map > section[name='content'] > *[name='navigation'] div > span > span > span > img {
	padding:0 5px;
}


#contain div#map > section[name='sidebar'] > div > *[name] {
	height:85%;
	display:flex;
    flex-direction:column;
	align-items:flex-start;
	position:relative;

}
#contain div#map > section[name='sidebar'] > div > *[name] {
	background:var(--Background_Map_Sidebar_Content);
	color:var(--Color_Map_Sidebar_Content);
	border:var(--Border_Map_Sidebar_Content);
}



#contain div#map > section[name='sidebar'] > div > *[name='pokémon'], #contain div#map > section[name='sidebar'] > div > *[name='shop'], #contain div#map > section[name='sidebar'] > div > *[name='items'], #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] {
	overflow:auto;
}




#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div[name='data'] *[name='gender'] {
	text-shadow:1px 1px 1px var(--border1);
} 

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div {
	display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:first-child {
    padding:10px 0;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:last-child {
	flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:last-child > div {
	width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    padding:5px 0;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:first-child > figure {
	padding:0 10px;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:last-child > div > span small span {
	display:block;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:last-child > div > span:first-child {
	width:50%;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:last-child > div > span {
	width:100%;
	display:flex;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:first-child > div > span {
	display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div[name='data'] > span > * {
	padding:1px 0;
}



#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li > div:first-child > div {
	width:100%;
	display:inline-flex;
    justify-content:center;
    align-items:center;
	flex-direction:column;
	position:relative;
	text-align:center;
	margin:0 2px;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div[name='pokémon'] > span {
	position:relative;
	display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div[name='moves'] > * {
	text-align:center;
	display:block;
}



#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='HP'] {
	color:var(--statHP);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='Attack'] {
	color:var(--statAtk);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='Defense'] {
	color:var(--statDef);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='Sp. Atk'] {
	color:var(--statSpAtk);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='Sp. Def'] {
	color:var(--statSpDef);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='Special'] {
	color:var(--statSpecial);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li span[name='Speed'] {
	color:var(--statSpeed);
}







#contain div#map > section[name='sidebar'] > div > *[name='overview'] {
	display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:nowrap;
}
#contain div#map > section[name='sidebar'] > div > *:not([name='overview']) {
	display:none;
}


#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div {
	width:100%;
    height:50%;
    position:relative;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
	background:#000;
	z-index:2;
	overflow:hidden;
}

#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span:first-child {
	width:100%;
    height:10%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
	z-index:1;
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > h4, #contain div#map > section[name='sidebar'] > div > *[name='items'] ul > h4, #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul > h4, #contain div#map > section[name='sidebar'] > div > *[name='shop'] ul > h4,
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul > span,
#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span:first-child,
#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > span {
	background:var(--Background_Map_Sidebar_Content_Item_Title);
	color:var(--Color_Map_Sidebar_Content_Item_Title);
	border:var(--Border_Map_Sidebar_Content_Item_Title);
	border-top:none;
	border-left:none;
	border-right:none;

}


#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span:last-child {
	width:100%;
    height:100%;
    display:flex;
    z-index:3;
    flex-direction:column;
    overflow:auto;
}
#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span > p {
	padding:10px 15px;
	font-variant:all-small-caps;
}


#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span > span {
	padding:10px 15px;
    line-height:110%;
}
#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span > span > *:first-child {
	line-height:160%;
}
#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span > span br {
	content:'';
    display:block;
    padding-bottom:5px;
}

#contain div#map > section[name='sidebar'] > div > *[name='overview'] > span > p br {
	content:'';
    display:block;
    padding:3px 0;
}


#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > ul {
	width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    position:relative;
    transition:.25s ease;
}


#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > span {
	width:10%;
	display:flex;
    align-items:center;
    justify-content:center;
	z-index:10;
	color:White;
}

#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > span:first-child > figure[value='0'], #contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > span:last-child > figure.last {
	display:none;
}

#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > span figure {
	width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}



#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > ul li {
	width:100%;
    height:100%;
}

#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div > ul img {
	width:100%;
    height:100%;
    user-select:none;
	cursor:zoom-in;
}



#contain div#map > section[name='sidebar'] > div > *[name='overview'] > div button:active {
	font-weight:bold;
}






#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div[name='data'] > div[name]:not([name='moves']) {
	display:none;
}



#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li span[name='rate'] img {
    max-width:30px;
}



#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li img[title='Morning'] {
	filter:brightness(0) saturate(100%) invert(87%) sepia(49%) saturate(212%) hue-rotate(357deg) brightness(109%) contrast(101%) drop-shadow(1px 1px 0px var(--border1));
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li img[title='Day'] {
	filter:brightness(0) saturate(100%) invert(82%) sepia(14%) saturate(1390%) hue-rotate(168deg) brightness(99%) contrast(103%) drop-shadow(1px 1px 0px var(--border1));
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li img[title='Night'] {
	filter:brightness(0) saturate(100%) invert(45%) sepia(22%) saturate(683%) hue-rotate(169deg) brightness(97%) contrast(91%) drop-shadow(1px 1px 0px var(--border1));
}

#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > * {
	width:20%;
	display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    justify-content:space-evenly;
	overflow:auto;
	text-shadow: 1px 1px black;
}

#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span {
	width:40%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
	padding:0 10px;
}

#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span small {
	display:flex;
    justify-content:center;
    align-items:center;
    white-space:pre;
}

#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span small span[title], #contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span small img[title] {
	cursor:help;
}


#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='Cost'] img {
	max-height:15px;
}

#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='Cost'] img[src=""] {
	visibility:hidden;
    position:relative;
}
#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='Cost'] img[src=""]::after {
	content:attr(data-title);
    visibility:visible;
    font-size:10px;
}


#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='item'] span {
	width:100%;
	overflow:auto;
	display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    justify-content:space-evenly;
}


#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='requirement'] span > *:last-child {
	display:block;
}
#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='description'] {
	align-content:flex-start;
	text-align:left;
}




#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > * {
	width:20%;
	display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    justify-content:space-evenly;
	overflow:auto;
}

#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li > span {
	width:40%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
	padding:0 10px;
}


#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li > span[name='item'] span {
	width:100%;
	overflow:auto;
	display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    justify-content:space-evenly;
}

#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li > span.hide {
	opacity:0.4;
}

#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li > span[name='requirement'] span > *:last-child {
	display:block;
}
#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li > span[name='description'] {
	align-content:flex-start;
	text-align:left;
}


#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li > span[name='item'] img, #contain div#map > section[name='sidebar'] > div > *[name='items'] ul li > span[name='item'] img {
	margin:0 -80%;
}




#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span > span {
	text-align:center;
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span > span, #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span > b > span {
	display:block
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span:first-child {
	position:relative;
    display:inline;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span:last-child {
	position:relative;
    display:flex;
    padding:5px 0;
    align-items:center;
    flex-direction:row;
    justify-content:center;
    white-space:pre;
}


#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span[name='multi'] img:first-child {
	position:absolute;
    bottom:30%;
    left:30%;
}




#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span > * {
    padding:2px 0;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] > span, #contain div#map > section[name='sidebar'] > div > *[name='items'] > span, #contain div#map > section[name='sidebar'] > div > *[name='shop'] > span {
	position:fixed;
    z-index:100;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;

    border-bottom-right-radius:10px;
	display:none;
	opacity:0.8;
    pointer-events:none;

	background:var(--Background_Map_Sidebar_Annotation);
	color:var(--Color_Map_Sidebar_Annotation);
	border:var(--Border_Map_Sidebar_Annotation);
	border-left: none;
	border-top: none;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span > img {
	max-width:50px;
} 


#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span > img[title='Gift'] {
	max-width:10px;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='encounter'] > span[name='multi'] > img[src]:not([name='tile']) {
	margin-left:10px;
    margin-bottom:-10px;
    z-index:10;
}



#contain div#map > section[name='sidebar'] > div > *[name] ul li > span[function='dataRedirect'] {
	cursor:pointer;
}
#contain div#map > section[name='sidebar'] > div > *[name] ul li > span[function='dataRedirect']:active {
	filter:invert(0.3);
}



#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > li[title] span h6, #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > li[title] p {
	text-decoration:underline;
    text-decoration-style:solid;
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > li[title]:hover span h6, #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > li[title]:hover p {
	text-decoration-style:dashed;
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li span[name='pok'] > *:nth-child(1) {
	padding:0;
}
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li span[name='pok'] > * {
	padding:2px 0;
}
#contain div#map > section[name='sidebar'] > div > *[name] small {
	display:block;
}

#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li span[name='description'] {
	width:100%;
}
#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li span[name='description'] p {
	padding:0 10px;
}
#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li span[name='description']:last-child {
	width:140%;
	padding:0 5px;
}

#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li span[name='requirement'] {
	width:40%;
	display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:column;
    text-align:center;
}
#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li span[name='requirement'] > * {
	padding:2px 0;
}








#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > * {
	text-align:center;
}

#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > b {
	text-shadow:1px 1px 1px Black;
}



#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > * > span {
	padding:3px 0;
	display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > * > span img {
	max-width:30px;
	max-height:30px;
}


#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li > * {
	display:flex;
    justify-content:center;
    align-items:center;
	width:100%;
	flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li p, #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li h4 {
	display:flex;
    justify-content:center;
    align-items:center;
	width:fit-content;
}





#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul {
	width:100%;
	height:70%;
	overflow:auto;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li {
	position:relative;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul > span {
	display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0;
	position:relative;
}













#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul > span > figure[name='export'] {
	position: absolute;
    left: 5px;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul > span > figure[name='export'] > div > span {
	right:unset;
	left:0;
}



#contain > div#item > section[name='list'] > div:first-child > *:last-child label > * {
	padding: 2px 0;
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div[name='moves'] p {
	text-shadow:1px 1px 1px Black;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div img {
	display:flex;
	align-items:center;
	justify-content:center;
	max-width:100%;
	user-select:none;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul li div img[name='item'] {
	position:absolute;
    top:0;
    margin-right:50%;
}


#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul, #contain div#map > section[name='sidebar'] > div > *[name='items'] ul, #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul, #contain div#map > section[name='sidebar'] > div > *[name='shop'] ul {
	width:100%;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > h4, #contain div#map > section[name='sidebar'] > div > *[name='items'] ul > h4, #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul > h4, #contain div#map > section[name='sidebar'] > div > *[name='shop'] ul > h4  {
	padding:20px 0;
	text-align:center;

}



#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li, #contain div#map > section[name='sidebar'] > div > *[name='items'] ul li, #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li, #contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li {
	width:100%;
	position:relative;
    flex-direction:row;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
	padding:10px 0;

} 
#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li,
#contain div#map > section[name='sidebar'] > div > *[name='items'] ul li,
#contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul li,
#contain div#map > section[name='sidebar'] > div > *[name='shop'] ul li,
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > ul > li {
	background:var(--Background_Map_Sidebar_Content_Item);
	color:var(--Color_Map_Sidebar_Content_Item);
	border:var(--Border_Map_Sidebar_Content_Item);
	border-top: none;
	border-left: none;
	border-right: none;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li, #contain div#map > section[name='sidebar'] > div > *[name='movetutor'] ul > li {
	justify-content:space-around;
}





#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[name='rate'] > * {
	display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span {
	width:33%;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span > small {
	display:inline;
}

#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[title] {
    text-decoration:underline;
	cursor:help;
}


#contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span[title]:hover {
    text-decoration-style:dashed;
}

[game='Sun'] #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span, [game='Moon'] #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span, [game='Ultra Sun'] #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span, [game='Ultra Moon'] #contain div#map > section[name='sidebar'] > div > *[name='pokémon'] ul > li > span {
	width:25%;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div {
	display:flex;
    flex-direction:column;
    height:100%;
	width:100%;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span {
	width:40%;
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
	text-align:center;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span:first-child {
	flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span:first-child p {
	font-style:italic;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) img {
	margin:0 -18px;
}




#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child {
	width:100%;
	height:30%;
	position:relative;
	flex-wrap:wrap;

	
	background:var(--Background_Map_Sidebar_Content_Title);
	color:var(--Color_Map_Sidebar_Content_Title);
	border:var(--Border_Map_Sidebar_Content_Title);
	border-left:none;
	border-top:none;
	border-right:none;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span {
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:first-child {
	height:25%;
	justify-content:space-between;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) {
	height:50%;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child {
	height:25%;
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span {
	height:100%;
	display:flex;
	align-items:center;
	overflow:auto;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:first-child {
	width:25%;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:nth-child(2) {
	width:50%;
	justify-content:center;
	text-align:center;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:last-child {
	width:25%;
	justify-content:center;
	flex-direction:column;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:first-child > span:first-child {
	padding-left:5px;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:first-child > span {
	padding:0 1px;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span[title] {
	text-decoration:underline;
	cursor:help;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span[title]:hover {
	text-decoration-style:dashed;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span:last-child > span img, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:last-child img {
	margin:0 -75%;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span:last-child > span, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:last-child > span {
	width:100%;
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    justify-content:space-evenly;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span b, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:last-child > span:last-child b {
	width:100%;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol li small {
	font-weight:normal;
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > * {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
	width:100%;
	position:relative;
	cursor:default;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > span {
	width:200%;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='current'][title] {
	cursor:help;
	border-bottom:1px solid inherit;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='current'][title]:hover {
	border-bottom:1px dashed inherit;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > span img[title]:not([name='extra']) {
	cursor:help;
	border-bottom:1px solid inherit;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > span img[title]:not([name='extra']):hover {
	border-bottom:1px dashed inherit;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) img:not([name='extra']) {
	height:100%;
    width:100%;
}



#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) img[src=""] {
	visibility:hidden;
	position:relative;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) img[src=""]::after {
	content:"?";
    display:flex;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    opacity:1;
    visibility:visible;
    justify-content:center;
    align-items:center;
	font-size:xxx-large;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) img[name='extra'] {
	position:absolute;
	top:5px;
	left:5px;
}



#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > b img {
	filter:brightness(0.4);
    transform:scale(0.8);
	cursor:pointer;
}



#contain div#map > section[name='sidebar'] > div > *[name='trainers'] {
	align-items:center;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(1) > span[name='navigation'] {
	flex-direction:column;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] {
	flex-direction:row;
    justify-content:center;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] > * {
	display:unset;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'], #contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] input, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] input::placeholder {
	background:none;
	color:var(--font1);
	outline:none;
	border:none;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] input, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] input::-webkit-outer-spin-button, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
   -moz-appearance:textfield;
   appearance:none;
}



#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='count'] input:first-child {
	text-align:right;
	cursor:pointer;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] {
	width:100%;
	position:relative;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] input {
	padding:2px 0;
    text-indent:5px;
    width:100%;

	background:var(--Background_Map_Sidebar_Content_Search);
	color:var(--Color_Map_Sidebar_Content_Search);
	border:var(--Border_Map_Sidebar_Content_Search);
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] input  {
	border-radius:0;
	outline:none;
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol {
	position:absolute;
    z-index:100;
    width:100%;
    max-height:200px;
    overflow:auto;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol li {
	background:var(--Background_Map_Sidebar_Content_Search_Item);
	color:var(--Color_Map_Sidebar_Content_Search_Item);
	border:var(--Border_Map_Sidebar_Content_Search_Item);
	border-top: none;
    border-left: none;
    border-right: none;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] ul > span > figure.drop label ol {
	right: unset !important;
	bottom: unset !important;
	left: 0px !important;
	top: 15px !important;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol:not(.active) {
	display:none;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol li {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
	padding:2px 0;
}
#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol li:last-child {
	border-bottom: none;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] span[name='search'] ol li b {
	padding:2px 5px;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > b:hover, #contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > b:hover * {
	filter:none;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) > b:hover > img.error {
	filter:brightness(0) contrast(1);
}


#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) img.error {
	filter:brightness(0) contrast(0.7);
}





#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:30%;
}







#contain div#map > section[name='sidebar'] > * > div:first-child {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width:100%;
	height:15%;
}

#contain div#map > section[name='sidebar'] > * > div:first-child > span {
	display:inline-flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}

#contain div#map > section[name='sidebar'] > * > div:first-child label {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;

	background:var(--Background_Map_Sidebar_Header_Label);
	color:var(--Color_Map_Sidebar_Header_Label);
	border:var(--Border_Map_Sidebar_Header_Label);
	border-bottom: none;
    border-left: none;
}

#contain div#map > section[name='sidebar'] > * > div:first-child label:last-child {
	border-right: none;
}

#contain div#map > section[name='sidebar'] > * > div:first-child span:first-child label {
	border: none;
}


#contain div#map > section[name='sidebar'] > * > div:first-child input:checked + label {
	background:var(--Background_Map_Sidebar_Header_Label_Selected);
	color:var(--Color_Map_Sidebar_Header_Label_Selected);
}





#contain > div#map > section[name='list'] {
	height:100%;
	width:20%;
	float:left;
	position:inherit;
	z-index:4;
}

#contain > div#map > section[name='header'] {
	height:20%;
	width:80%;
	float:right;
	position:relative;
	z-index:3;
}


#contain > div#map > section[name='content'] {
	width:55%;
	height:80%;
	float:left;
	position:inherit;
	z-index:2;
}

#contain > div#map > section[name='sidebar'] {
	width:25%;
	height:80%;
	float:right;
	position:inherit;
	z-index:1;
}






#data > div section[name='main'] > div[name='area'] ul li input, #contain div#item > section[name='sidebar'] > div > ul li input, #contain div#map > section[name='sidebar'] > div > *[name]:not([name='trainers']) ul > li input[type='checkbox'] {
	display:unset;
	margin:10px;
}

#data > div section[name='main'] > div[name='area'] ul li input:checked ~ *, #contain div#item > section[name='sidebar'] > div > ul li input:checked ~ *, #contain div#map > section[name='sidebar'] > div > *[name]:not([name='trainers']) ul > li input[type='checkbox']:checked ~ * {
	opacity:0.4;
	text-decoration:line-through;
}

#contain div > section[name='sidebar'] > div > ul li span[name='requirement'] small {
	display:block;
}

#contain div#map > section[name='sidebar'] > div > *[name='trainers'] > div > div:first-child > span:nth-child(2) {
	user-select:none;
}
