@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
    background: var(--Background_Scroll);
}

::-webkit-scrollbar-thumb {
    background: var(--Background_Scroll_Bar);
}

::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
}

input {
    border: none;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

img,
button {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

li {
    list-style: none;
}

button,
label {
    cursor: pointer;
    user-select: none;
    color: unset;
}

button {
    border: none;
    background: none;
    outline: none;
}

input,
select {
    outline: none;
}

select:not([disabled]) {
    cursor: pointer;
}

[data-gender='♀'] {
    color: orangered;
    font-family: fantasy;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

[data-gender='♂'] {
    color: lightskyblue;
    font-family: fantasy;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

*[data-dex]:not(.active) {
    display: none;
}

[class*="redirect_"],
.card_data {
    cursor: pointer !important;
}

.redirect_invert:active,
.card_invert:active {
    filter: invert(1) !important;
}

.redirect_color:active,
.card_color:active {
    color: black !important;
}

.redirect_brightness:active,
.card_brightness:active {
    filter: brightness(0.5);
}


