@keyframes stretch_delay {
    0%,
    40%,
    100% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(0.2);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transformScale1 {
    0% {
        transform: scale(1);
    }
    48% {
        transform: scale(0.9);
    }
    52% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rangeAnimation1 {
    0% {
        background-color: hsl(0, 0%, 40%);
    }
    50% {
        background-color: hsl(0, 0%, 20%);
    }
    100% {
        background-color: hsl(0, 0%, 40%);
    }
}

@keyframes rangeAnimation2 {
    from {
        background-color: hsl(0, 0%, 20%);
    }
    to {
        background-color: hsl(0, 0%, 20%);
    }
}

@keyframes rangeAnimation3 {
    from {
        border-color: hsl(130, 70%, 50%);
    }
    to {
        border-color: hsl(130, 70%, 50%);
    }
}
