nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 10vh;
    box-shadow: 1px 1px 1px #000;
    background: var(--color18);
}
nav > span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
nav > span:nth-child(1) {
    width:25%;
}
nav > span:nth-child(2) {
    width: 50%;
    justify-content: center;
}
nav > span:nth-child(3) {
    width:25%;
}
nav span[name='set'] {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
ol {
    height: 90vh;
    position:relative;
}
ul#roof {
    height: 5%;
    position: relative;
    background: var(--color18);
    /* border-top: 1px solid; */
    box-sizing: border-box;
    border-bottom: 1px solid;
}
ul#result {
    height: 95%;
    overflow:auto;
    position: relative;
    background: var(--color19);
}

ul li {
    display: table;
    width: 100%;
    border-bottom: 1px inset;
}
ul#result li {
    padding: 2px 0;
    overflow:hidden;
}

ul#result li:has(label input:checked) img {
    filter: drop-shadow(0px 0px 2px #000);
}




ul#roof span[data-state] > *::after {
    font-size: 75%;
    padding: 2px;
    content:"";
    transition: .5s ease;
}
ul#roof span[data-state="1"] > *::after {
    content:"⮝"
}
ul#roof span[data-state="2"] > *::after {
    content:"⮟"
}

ul#roof li span[data-state] {
    cursor: pointer;
    user-select: none;
}

ul#roof li span[name="size"],
ul#roof li span[name="page"] {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


ul#roof li span[name="size"] input,
ul#roof li span[name="page"] input {
    margin: 2px 0;
    padding: 2px;
    outline: none;
    appearance: none;
    width: -webkit-fill-available;
    text-align: center;
    font-weight: bold;
    background: white;
}



ol[data=""] ul#roof li span[name="size"] *,
ol[data=""] ul#roof li span[name="page"] *,
ol[data=""] ul#roof li span[name="execute"] *,
ol[data="[]"] ul#roof li span[name="size"] *,
ol[data="[]"] ul#roof li span[name="page"] *,
ol[data="[]"] ul#roof li span[name="execute"] *  {
    color:rgba(0,0,0,0.2);
    pointer-events: none;
    user-select:none;
}


nav span[name="count"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

ul#roof li span[name="execute"] {
    width: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul#roof li span[name="execute"] button {
    padding: 5px 10px;
    background: var(--color15);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}



input::placeholder {
    opacity: 0.5;
}

ul#roof li span[data-state]:active {
    filter:brightness(0.8);
}
ul#roof li {
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul#roof li > * {
    width: 25%;
    text-align:left;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}
ul#roof li > *:first-child {
    text-align:center;
    justify-content: center;
}
ul#roof li span[name='extension'] {
    width: 12.5%;
}
ul#result li span > *,
ul#roof li > *:not(:first-child) {
    padding: 0 10px;
}


ul#result li label {
    text-align:center;
}
ul#result li > * {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    padding: 5px;
}
ul#result li label:has(input:checked) img {
    max-height: 80vh;
    transition: 1s ease;
}

ul#result li span > * {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
}
ul#result img {
    max-height: 100px;
    max-width:100%;
    width: fit-content !important;
    margin: auto;
}
select {
    outline: none;
}

input[type="search"] {
    width: 45%;
    height: 40%;
    outline: none;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
}



nav span[name='search'] button {
    background: var(--color17);
    border-radius: 10px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"] + span:active {
	filter:invert(0.3) !important;
}


body.load,
body.load * {
    cursor: wait !important;
}
body.load ol {
    position:relative;
}
body.load ol > * {
    visibility: hidden;
}
body.load ol::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    opacity: 1;
    background-image: linear-gradient(#000000 3.4000000000000004px, transparent 3.4000000000000004px), linear-gradient(90deg, #000000 3.4000000000000004px, transparent 3.4000000000000004px), linear-gradient(#000000 1.7000000000000002px, transparent 1.7000000000000002px), linear-gradient(90deg, #000000 1.7000000000000002px, transparent 1.7000000000000002px);
    background-size: 85px 85px, 85px 85px, 17px 17px, 17px 17px;
    background-position-x: 0;
    animation: bposx85 linear infinite 2s;
    opacity: 0.5;
}
body.load ol::after {
    display: flex;
    content: "Loading";
    position: absolute;
    top:0;
    text-transform: uppercase;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-text-stroke: 0.5px white;
    
}
@keyframes bposx85 {
    to {
        background-position-x: 85px;
    }
}

@keyframes blinkscale {
	0% {
		opacity: 1;
        transform:scale(1)
	}

	50% {
		opacity: 0.9;
        transform:scale(0.9)
	}

	100% {
		opacity: 1;
        transform:scale(1)
	}
}

input[type="search"] + button {
    background: var(--color15);
    padding: 2px 0;
    padding: 10px 20px;
    border-radius: 10%;
    margin: 0 10px;
}
input[type="search"] + button:active {
    transform: none;
}
input[type="search"] + button:active > * {
    font-size: xx-small
}

nav button,
nav label {
    padding: 0 10px;
}
nav label:has(input:checked) {
    font-weight:bold;
}
p {
    display: inline;
}


nav > span:not(:nth-child(2)) > * {
    margin: 5px 0;
}