body {
    background: var(--Background_Body);
    color: var(--Color_Body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
#dex,
#move,
#location,
#item,
#ability,
#tool {
    width: 100%;
    height: 95vh;
}

#dex:not(.active),
#move:not(.active),
#location:not(.active),
#item:not(.active),
#ability:not(.active),
#tool:not(.active) {
    display: none;
}

.dex_list li[data-color='Green']:has(input:checked),
#card[data-color='Green'] {
    background: linear-gradient(90deg, mediumseagreen, seagreen);
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}
.dex_list li[data-color='Red']:has(input:checked),
#card[data-color='Red'] {
    background: linear-gradient(90deg, tomato, indianred);
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}
.dex_list li[data-color='Blue']:has(input:checked),
#card[data-color='Blue'] {
    background: linear-gradient(90deg, steelblue, royalblue);
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}
.dex_list li[data-color='Yellow']:has(input:checked),
#card[data-color='Yellow'] {
    background: linear-gradient(90deg, khaki, gold);
    color: black;
    text-shadow: 1px 1px 0 hsl(0, 0%, 80%);
}
.dex_list li[data-color='Brown']:has(input:checked),
#card[data-color='Brown'] {
    background: linear-gradient(90deg, sienna, saddlebrown);
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}
.dex_list li[data-color='Purple']:has(input:checked),
#card[data-color='Purple'] {
    background: linear-gradient(90deg, darkviolet, rebeccapurple);
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}
.dex_list li[data-color='Pink']:has(input:checked),
#card[data-color='Pink'] {
    background: linear-gradient(90deg, lightpink, palevioletred);
    color: black;
    text-shadow: 1px 1px 0 hsl(0, 0%, 80%);
}
.dex_list li[data-color='Gray']:has(input:checked),
#card[data-color='Gray'] {
    background: linear-gradient(90deg, lightslategray, slategray);
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}
.dex_list li[data-color='White']:has(input:checked),
#card[data-color='White'] {
    background: linear-gradient(90deg, aliceblue, ghostwhite);
    color: black;
    text-shadow: 1px 1px 0 hsl(0, 0%, 80%);
}
.dex_list li[data-color='Black']:has(input:checked),
#card[data-color='Black'] {
    background: linear-gradient(90deg, hsl(0,0%,20%), hsl(0,0%,20%));
    color: white;
    text-shadow: 1px 1px 0 hsl(0, 0%, 20%);
}

#card .data .effortvalueyield .hp > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='HP'] > *:first-child {
    color: var(--Stats_HP);
    text-shadow: 1px 1px black;
}
#card .data .effortvalueyield .attack > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='Attack'] > *:first-child {
    color: var(--Stats_Attack);
    text-shadow: 1px 1px black;
}
#card .data .effortvalueyield .defense > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='Defense'] > *:first-child {
    color: var(--Stats_Defense);
    text-shadow: 1px 1px black;
}
#card .data .effortvalueyield .special > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='Special'] > *:first-child {
    color: var(--Stats_Special);
    text-shadow: 1px 1px black;
}
#card .data .effortvalueyield .spatk > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='SpAtk'] > *:first-child {
    color: var(--Stats_SpAtk);
    text-shadow: 1px 1px black;
}
#card .data .effortvalueyield .spdef > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='SpDef'] > *:first-child {
    color: var(--Stats_SpDef);
    text-shadow: 1px 1px black;
}
#card .data .effortvalueyield .speed > *:first-child,
#location .sidebar > main > .trainer ul ol > li header *[data-stat='Speed'] > *:first-child {
    color: var(--Stats_Speed);
    text-shadow: 1px 1px black;
}