
body.dragging #pokémon > aside[name='team'] .indicator.enabled,
body.dragging #pokémon > aside[name='team'] .indicator.ui-droppable-active {
    background:linear-gradient(90deg, Black 50%, transparent 50%), 
                linear-gradient(90deg, Black 50%, transparent 50%), 
                linear-gradient(0deg, Black 50%, transparent 50%), 
                linear-gradient(0deg, Black 50%, transparent 50%);
    background-repeat:repeat-x, repeat-x, repeat-y, repeat-y;
    background-size:16px 2px, 16px 2px, 2px 16px, 2px 16px;
    background-position:0% 0%, 100% 100%, 0% 100%, 100% 0px;
    animation:dash 10s linear infinite;
}

body.dragging #pokémon > aside[name='team'] .indicator.ui-droppable-active.ui-droppable-hover,
body.dragging #pokémon > aside[name='team'] .hover > .indicator.enabled,
body.dragging #pokémon > aside[name='team'] .indicator.enabled.hover {
	background:linear-gradient(90deg, Green 50%, transparent 50%), 
                linear-gradient(90deg, Green 50%, transparent 50%), 
                linear-gradient(0deg, Green 50%, transparent 50%), 
                linear-gradient(0deg, Green 50%, transparent 50%);
                background-repeat:repeat-x, repeat-x, repeat-y, repeat-y;
    background-size:16px 2px, 16px 2px, 2px 16px, 2px 16px;
    background-position:0% 0%, 100% 100%, 0% 100%, 100% 0px;
    animation:dash 10s linear infinite;
}

body.dragging #pokémon > aside[name='team'] span.indicator.ui-droppable-active,
body.dragging #pokémon > aside[name='team'] span.indicator.ui-droppable-active.ui-droppable-hover {
    background-size:16px 2px, 16px 2px, 2px 16px, 2px 16px;
}
body.dragging #pokémon > aside[name='team'] b.indicator.ui-droppable-active,
body.dragging #pokémon > aside[name='team'] b.indicator.ui-droppable-active.ui-droppable-hover {
    background-size:16px 3px, 16px 3px, 3px 16px, 3px 16px;
}



#pokémon > aside section[name='party'] > span {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    z-index: 100;
    padding: 0 10px;
}

#pokémon > aside section[name='box'] {
	overflow:unset;
}




#pokémon > aside[name="team"] section[name]:not(.open):not(.switch) figure[name="export"], #pokémon > aside section[name="box"] figure[name="trash"] {
	max-width:100%;
	overflow:hidden;
}
#pokémon > aside section[name="box"] figure[name="export"] {
	position:absolute;
	bottom:10px;
	right:10px;
	font-size:120%;
	display: flex;
    align-items: center;
    flex-direction: column;
}





#pokémon > aside[name="team"] section[name] {
    width:0vw;
}

#pokémon > aside[name="team"] section[name="party"] {
	background:var(--Background_Dex_PartyBox_Item);
}

#pokémon > aside[name="team"] section[name].open, #pokémon > aside[name="team"] section[name].switch {
    width:min(max(300px, 20vw), 500px);
}
/*
#pokémon > aside[name="team"] section[name] > * {
    opacity:0;
    transition:.2s ease opacity .5s;
}
#pokémon > aside[name="team"] section[name].close > * {
    opacity:0;
    transition:.2s ease opacity .5s;
}
#pokémon > aside[name="team"] section[name].switch > * {
    opacity:1;
    transition:none;
}
#pokémon > aside[name="team"] section[name].open > * {
    opacity:1;
    transition:.2s ease opacity .5s;
}
*/
#pokémon > aside[name="team"] section.open {
    transition:.5s ease width;
}
#pokémon > aside[name="team"] section.close {
    transition:none;
}
#pokémon > aside[name="team"] section.switch {
    transition:none;
}



#pokémon > aside section[name='box'] > figure[name='trash'] {
    position:absolute;
    bottom:10px;
    left:10px;
    overflow:hidden;
}
#pokémon > aside section[name='box'] > figure[name='trash'] {
	background:var(--Background_Dex_PartyBox_Content_Trash);
	color:var(--Color_Dex_PartyBox_Content_Trash);
	border:var(--Border_Dex_PartyBox_Content_Trash);
}
#pokémon > aside section[name='box'] > figure[name='export'] {
	background:var(--Background_Dex_PartyBox_Content_Export);
	color:var(--Color_Dex_PartyBox_Content_Export);
	border:var(--Border_Dex_PartyBox_Content_Export);
}


#pokémon > aside section[name='box'] ul {
	display:flex;
    flex-direction:row;
    overflow:auto;
    flex-wrap:wrap;
    align-content:flex-start;
	overflow:auto;
	background:var(--Background_Dex_PartyBox_Content);
	color:var(--Color_Dex_PartyBox_Content);
}
#pokémon > aside section[name='box'] > figure[name='trash'] {
	position:absolute;
	left:10px;
	bottom:10px;
	object-fit:scale-down;
    transition:.2s ease filter;
}

#pokémon > aside section[name='box'] > figure[name='trash']:hover, #pokémon > aside section[name='box'] > figure[name='trash'].ui-droppable-active {
	animation:scale80 infinite 2s linear;
}
#pokémon > aside section[name='box'] > figure[name='trash']:active, #pokémon > aside section[name='box'] > figure[name='trash'].ui-droppable-hover.ui-droppable-active.ui-droppable {
	filter:grayscale(0.8);
    animation-play-state:paused;
}
#pokémon > aside section[name='box'] ul li {
	position:relative;
	padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pokémon > aside section[name='box'] ul li span {
	position:absolute;
    background:#000;
    width:100%;
    height:100%;
    bottom:-10px;
    border-radius:100%;
    transform:rotate3d(20, 0, 0, 300deg) scale(0.7);
    opacity:0.4;
}
#pokémon > aside section[name='box'] ul li img {
	position:inherit;
}
#pokémon > aside section[name='box'] ul li:active img {
	pointer-events:none;
}








#pokémon > aside section[name='party'] > div[data-string] {
	display: flex;
	flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
	background:var(--Background_Dex_PartyBox_Item);
	color:var(--Color_Dex_PartyBox_Item);
	border:var(--Border_Dex_PartyBox_Item);
	border-top: none;
	border-left:none;
	border-right: none;
}


#pokémon > aside section[name='party'] div[data-string] > span:first-child > b:last-child:active {
    cursor:grabbing;
}

#pokémon > aside section[name='party'] div[data-string] > span:first-child > b:last-child {
    font-weight:normal;
    font-size:unset;
	cursor:grab;
}
#pokémon > aside section[name='party'] div[data-string] > span {
    height: 100%;
    padding: 2px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#pokémon > aside section[name='party'] div[data-string] > span:last-child,
#pokémon > aside section[name='party'] div[data-string] > span:first-child {
    padding: 10px;
}

#pokémon > aside section[name='party'] div[data-string] > span:first-child,
#pokémon > aside section[name='party'] div[data-string] > span:first-child >    * {
    align-items:flex-start;
    text-align:left;
}
#pokémon > aside section[name='party'] div[data-string] > span:last-child,
#pokémon > aside section[name='party'] div[data-string] > span:last-child > * {
    align-items:flex-end;
    text-align:right;
}


#pokémon > aside section[name='party'] div[data-string] input {
	appearance: none;
    width: min-content;
}
#pokémon > aside section[name='party'] div[data-string] input[type=number]::-webkit-outer-spin-button,
#pokémon > aside section[name='party'] div[data-string] input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
#pokémon > aside section[name='party'] div[data-string] input[type=number] {
	appearance: auto;
	-moz-appearance: textfield;
}

#pokémon > aside section[name='party'] div[data-string] > button {
	width:100%;
    height:100%;
    padding:0;
    font-family:fantasy;
    display:flex;
    justify-content:center;
    align-items:center;
	cursor:pointer;
	position: absolute;
	background:var(--Background_Dex_PartyBox_Content_Item);
	color:var(--Color_Dex_PartyBox_Content_Item);
    z-index: 10;
    color:white;
}
#pokémon > aside section[name='party'] div[data-string] > button > span {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokémon > aside section[name='party'] div[data-string] > button:hover > * {
	filter:brightness(0.8);
}
#pokémon > aside section[name='party'] div[data-string] > button:active > * {
	transform:scale(0.9);
}

#pokémon > aside section[name='party'] div:not([data-string=""]) > button {
    display: none;
}

#pokémon > aside section[name='party'] div[data-string] img {
    position:relative;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}
body[Generation=1] #pokémon > aside section[name='party'] div[data-string] img,
body[Generation=2] #pokémon > aside section[name='party'] div[data-string] img,
body[Generation=3] #pokémon > aside section[name='party'] div[data-string] img,
body[Generation=4] #pokémon > aside section[name='party'] div[data-string] img,
body[Generation=5] #pokémon > aside section[name='party'] div[data-string] img {
    image-rendering:pixelated;
}

#pokémon > aside section[name='party'] div[data-string] img:active {
    transform:scale(0.75);
}

#pokémon > aside section[name='party'] div[data-string] span img[src=''] {
	visibility:hidden;
}
#pokémon > aside section[name='party'] div[data-string] span img[src='']::after {
	content:'?';
    display:flex;
    visibility:visible;
    justify-content:center;
    align-items:center;
}
#pokémon > aside section[name='party'] div[data-string] span[name='pokémon'] {
    height: 100%;
    width: 100%;
    position:relative;
    overflow:hidden;
}

#pokémon > aside section[name='party'] div[data-string] span img[name='item'] {
    position:absolute;
    top:0;
    left:0;
}

#pokémon > aside section[name='party'] div[data-string] span img[name='item'][src='']::after {
    font-size:x-large;
}
#pokémon > aside section[name='party'] div[data-string] span img[name='img'][src='']::after {
    font-size:xxx-large;
}


#pokémon > aside section[name='party'] div[data-string] select,
#pokémon > aside section[name='party'] div[data-string] input {
    text-align: center;
    padding: 2px;
    appearance: none;
    background: none;
    border: none;
}

#pokémon > aside section[name='party'] div[data-string],
#pokémon > aside section[name='party'] div[data-string] select,
#pokémon > aside section[name='party'] div[data-string] input,
#pokémon > aside section[name='party'] div[data-string] input::placeholder {
    color: white;
}

#pokémon > aside section[name='party'] div[data-string][type='Electric'],
#pokémon > aside section[name='party'] div[data-string][type='Electric'] select,
#pokémon > aside section[name='party'] div[data-string][type='Electric'] input,
#pokémon > aside section[name='party'] div[data-string][type='Electric'] input::placeholder {
    color: black;
}




#pokémon > aside section[name='party'] div[data-string] option {
    color:black;
}


#pokémon > aside section[name='party'] div[data-string] > span > span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pokémon > aside section[name='party'] div[data-string] > span[name='data'] > span > span:first-child {
    height: 20%;
}

#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type:"] {
    box-shadow: 0 0 1px #000;
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Normal"] {
    background:var(--typeNormal);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Fighting"] {
    background:var(--typeFighting);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Flying"] {
    background:var(--typeFlying);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Poison"] {
    background:var(--typePoison);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Ground"] {
    background:var(--typeGround);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Rock"] {
    background:var(--typeRock);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Bug"] {
    background:var(--typeBug);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Ghost"] {
    background:var(--typeGhost);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Steel"] {
    background:var(--typeSteel);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Fire"] {
    background:var(--typeFire);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Water"] {
    background:var(--typeWater);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Grass"] {
    background:var(--typeGrass);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Electric"] {
    background:var(--typeElectric);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Psychic"] {
    background:var(--typePsychic);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Ice"] {
    background:var(--typeIce);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Dragon"] {
    background:var(--typeDragon);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Dark"] {
    background:var(--typeDark);
}
#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) *[title*="Type: Fairy"] {
    background:var(--typeFairy);
}


#pokémon > aside section[name='party'] div[data-string] span[name='moves'] span:nth-child(2) select option {
    background:hsl(0,0%,100%);
}

#pokémon > aside section[name='party'] div[data-string] span[name='moves'] select {
    margin: 0 2px;
    padding: 2px 10px;
}

#pokémon > aside section[name='party'] div[data-string] span[name='moves'] option {
    color:black;
}

#pokémon > aside section[name='party'] div[data-string] > span[name='data'] *[name='nums'] {
    display:flex;
    flex-direction:row;
}


#pokémon > aside section[name='party'] div[data-string] > span[name='data'] *[name='nums'] > *:first-child * {
    text-align:right;
    font-size: 9px;
}

#pokémon > aside section[name='party'] div[data-string] > span[name='data'] *[name='nums'] > span {
    display: flex;
    flex-direction: column;
}
#pokémon > aside section[name='party'] div[data-string] > span[name='data'] *[name='nums'] input {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}
#pokémon > aside section[name='party'] div[data-string] > span[name='data'] > span {
    height: 100%;
    width:100%;
    transition: 0.25s ease opacity 0s, 0s ease height 0s, 0s ease width 0s;
}
#pokémon > aside section[name='party'][data-state=''] div[data-string] > span[name='data'] > span {
    transition: none;
}

#pokémon > aside section[name='party']:not([data-state='moves']) div[data-string] > span[name='data'] > span[name='moves'],
#pokémon > aside section[name='party']:not([data-state='stats']) div[data-string] > span[name='data'] > span[name='stats'] {
    width:0px;
    height:0px;
    opacity:0;
    padding: 0;
}

#pokémon > aside section[name='party'] div[data-string] span[name='moves'] > span {
    display:flex;
    flex-direction:column;
}






#pokémon > aside section[name='party'] div[data-string] select[title='Gender'][name='♂'] {
    color:blue;
}

#pokémon > aside section[name='party'] div[data-string] select[title='Gender'][name='♀'] {
    color:red;
}
#pokémon > aside section[name='party'] div[data-string] select[title='Gender'][name='☿'] {
    color:black;
    text-shadow: none;
}




#pokémon > aside section[name='party'] div[data-string] > span[name='data'] > span[name='moves'] {
    padding: 10px 0;
    justify-content: space-between;
}




#pokémon > aside section[name='party'] div[data-string*='na:Lonely'] span[name='total'] > input:nth-child(2), #pokémon > aside section[name='party'] div[data-string*='na:Brave'] span[name='total'] > input:nth-child(2), #pokémon > aside section[name='party'] div[data-string*='na:Adamant'] span[name='total'] > input:nth-child(2), #pokémon > aside section[name='party'] div[data-string*='na:Naughty'] span[name='total'] > input:nth-child(2),
#pokémon > aside section[name='party'] div[data-string*='na:Bold'] span[name='total'] > input:nth-child(3), #pokémon > aside section[name='party'] div[data-string*='na:Relaxed'] span[name='total'] > input:nth-child(3), #pokémon > aside section[name='party'] div[data-string*='na:Impish'] span[name='total'] > input:nth-child(3), #pokémon > aside section[name='party'] div[data-string*='na:Lax'] span[name='total'] > input:nth-child(3),
#pokémon > aside section[name='party'] div[data-string*='na:Modest'] span[name='total'] > input:nth-child(4), #pokémon > aside section[name='party'] div[data-string*='na:Mild'] span[name='total'] > input:nth-child(4), #pokémon > aside section[name='party'] div[data-string*='na:Quiet'] span[name='total'] > input:nth-child(4), #pokémon > aside section[name='party'] div[data-string*='na:Rash'] span[name='total'] > input:nth-child(4),
#pokémon > aside section[name='party'] div[data-string*='na:Calm'] span[name='total'] > input:nth-child(5), #pokémon > aside section[name='party'] div[data-string*='na:Gentle'] span[name='total'] > input:nth-child(5), #pokémon > aside section[name='party'] div[data-string*='na:Sassy'] span[name='total'] > input:nth-child(5), #pokémon > aside section[name='party'] div[data-string*='na:Careful'] span[name='total'] > input:nth-child(5),
#pokémon > aside section[name='party'] div[data-string*='na:Timid'] span[name='total'] > input:nth-child(6), #pokémon > aside section[name='party'] div[data-string*='na:Hasty'] span[name='total'] > input:nth-child(6), #pokémon > aside section[name='party'] div[data-string*='na:Jolly'] span[name='total'] > input:nth-child(6), #pokémon > aside section[name='party'] div[data-string*='na:Naive'] span[name='total'] > input:nth-child(6) {
	color:Green;
	text-shadow:1px 1px 1px hsl(0,0%,0%);
	font-weight:bold;
}
#pokémon > aside section[name='party'] div[data-string*='na:Bold'] span[name='total'] > input:nth-child(2), #pokémon > aside section[name='party'] div[data-string*='na:Timid'] span[name='total'] > input:nth-child(2), #pokémon > aside section[name='party'] div[data-string*='na:Modest'] span[name='total'] > input:nth-child(2), #pokémon > aside section[name='party'] div[data-string*='na:Calm'] span[name='total'] > input:nth-child(2),
#pokémon > aside section[name='party'] div[data-string*='na:Lonely'] span[name='total'] > input:nth-child(3), #pokémon > aside section[name='party'] div[data-string*='na:Hasty'] span[name='total'] > input:nth-child(3), #pokémon > aside section[name='party'] div[data-string*='na:Mild'] span[name='total'] > input:nth-child(3), #pokémon > aside section[name='party'] div[data-string*='na:Gentle'] span[name='total'] > input:nth-child(3),
#pokémon > aside section[name='party'] div[data-string*='na:Adamant'] span[name='total'] > input:nth-child(4), #pokémon > aside section[name='party'] div[data-string*='na:Impish'] span[name='total'] > input:nth-child(4), #pokémon > aside section[name='party'] div[data-string*='na:Jolly'] span[name='total'] > input:nth-child(4), #pokémon > aside section[name='party'] div[data-string*='na:Careful'] span[name='total'] > input:nth-child(4),
#pokémon > aside section[name='party'] div[data-string*='na:Naughty'] span[name='total'] > input:nth-child(5), #pokémon > aside section[name='party'] div[data-string*='na:Lax'] span[name='total'] > input:nth-child(5), #pokémon > aside section[name='party'] div[data-string*='na:Naive'] span[name='total'] > input:nth-child(5), #pokémon > aside section[name='party'] div[data-string*='na:Rash'] span[name='total'] > input:nth-child(5),
#pokémon > aside section[name='party'] div[data-string*='na:Brave'] span[name='total'] > input:nth-child(6), #pokémon > aside section[name='party'] div[data-string*='na:Relaxed'] span[name='total'] > input:nth-child(6), #pokémon > aside section[name='party'] div[data-string*='na:Quiet'] span[name='total'] > input:nth-child(6), #pokémon > aside section[name='party'] div[data-string*='na:Sassy'] span[name='total'] > input:nth-child(6) {
	color:Red;
	text-shadow:1px 1px 1px hsl(0,0%,0%);
	font-weight:bold;
}




#pokémon > aside section[name='party'] div[data-string] select,
#pokémon > aside section[name='party'] div[data-string] input {
    font-size:x-small;
}

#pokémon > aside section[name='party'] div[data-string] select[title='Gender'] {
    font-weight: bold;
    font-family: fantasy;
    font-size: small;
    text-shadow: 1px 1px black;
}



#pokémon > aside[name='team'] figure div.top > * {
	top: 0;
}
#pokémon > aside[name='team'] figure div.bottom > * {
	bottom: 0;
}
#pokémon > aside[name='team'] figure div.left > * {
	left: 0;
}
#pokémon > aside[name='team'] figure div.right > * {
	right: 0;
}