:root {

    --Type_Normal: #9099A1;
	--Type_Fighting: #CE4069;
	--Type_Flying: #8FA8DD;
	--Type_Poison: #AB6AC8;
	--Type_Ground: #D97746;
	--Type_Rock: #C7B78B;
	--Type_Bug: #90C12C;
	--Type_Ghost: #5269AC;
	--Type_Steel: #5A8EA1;
	--Type_Fire: #FF9C54;
	--Type_Water: #4D90D5;
	--Type_Grass: #63BB5B;
	--Type_Electric: #F3D23B;
	--Type_Psychic: #F97176;
	--Type_Ice: #74CEC0;
	--Type_Dragon: #0A6DC4;
	--Type_Dark: #5A5366;
	--Type_Fairy: #EC8FE6;
	--Type_Unknown: #68A090;

	--Category_Physical: #C92112;
	--Category_Special: #6890F0;
	--Category_Status: #787878;

    --Stats_HP: #FF5959;
	--Stats_Atk: #F5AC78;
	--Stats_Attack: #F5AC78;
	--Stats_Def: #FAE078;
	--Stats_Defense: #FAE078;
	--Stats_Special: #974DFF;
	--Stats_Spc: #974DFF;
	--Stats_SpAtk: #9DB7F5;
	--Stats_SpDef: #A7DB8D;
	--Stats_Speed: #FA92B2;
	--Stats_Spe: #FA92B2;

	--Egg_Monster: #D25064;
	--Egg_Water1: #97B5FD;
	--Egg_Bug: #AAC22A;
	--Egg_Flying: #B29AFA;
	--Egg_Field: #E0C068;
	--Egg_Fairy: #FFC8F0;
	--Egg_Grass: #82D25A;
	--Egg_Human-Like: #D29682;
	--Egg_Water3: #5876BE;
	--Egg_Mineral: #7A6252;
	--Egg_Amorphous: #8A8A8A;
	--Egg_Water2: #729AFA;
	--Egg_Ditto: #A664BF;
	--Egg_Dragon: #7A42FF;
	--Egg_Undiscovered: #333333;

    /* Load */
    --Background_Load: repeating-linear-gradient(0deg, hsl(0,0%,40%) 0px, hsl(0,0%,40%) 20%, transparent 0px, transparent 50%) 0% 0% / 1em 1em, repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.025) 0px, rgba(0, 0, 0, 0.025) 10%, transparent 0px, transparent 50%) 0% 0% / 1em 1em hsl(0,0%,40%);
    --Background_Load_Item: hsl(0,0%,90%);
    --Color_Load: hsl(0,0%,100%);
    --Color_Load_Title: hsl(0,0%,50%);
    --Color_Load_Title_Selected: LightSlateGray;

    /* Body */
    --Background_Body: var(--Background_Load);
    --Color_Body: hsl(0,0%,90%);

    /* Scroll */
    --Background_Scroll: hsl(0,0%,90%);
    --Background_Scroll_Bar: hsl(0,0%,60%);

    /* Console */
    --Background_Console: rgba(5,5,5,0.5);
    --Color_Console: initial;
    --Border_Console: 1px solid hsl(0,0%,10%);
    	
    /* Dex */
    --Background_Dex_Content: repeating-linear-gradient(0deg, hsl(0,0%,45%) 0px, hsl(0,0%,45%) 20%, transparent 0px, transparent 50%) 0% 0% / 1em 1em, repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 10%, transparent 0px, transparent 50%) 0% 0% / 1em 1em hsl(0,0%,45%);
    --Color_Dex_Content: initial;
	--Background_Dex_Content_Item: hsl(0,0%,35%);
    --Outline_Dex_Content_Item: 4px Solid rgba(0,0,0,0.2);
	--Color_Dex_Content_Item: initial;
    --Shadow_Dex_Content_Item: 1px 1px hsl(0,0%,0%);
    --Shadow_Dex_Navigation: 1px 1px hsl(0,0%,0%);
	--Background_Dex_Navigation: hsl(0,0%,35%);
    --Border_Dex_Navigation: 1px Solid hsl(0,0%,10%);
    --Border_Dex_Navigation_Button: 1px Solid hsl(0,0%,10%);
	--Color_Dex_Navigation: initial;
	--Background_Dex_Navigation_Search: White;
    --Border_Dex_Navigation_Search: 1px Solid Black;
	--Color_Dex_Navigation_Search: hsl(0,0%,10%);
	--Background_Dex_PartyBox_Content: repeating-linear-gradient( 45deg, hsl(0,0%,35%), hsl(0,0%,35%) 2px, hsl(0,0%,40%) 2px, hsl(0,0%,40%) 10px);
	--Color_Dex_PartyBox_Content: initial;
    --Background_Dex_PartyBox_Content_Export: initial;
    --Border_Dex_PartyBox_Content_Export: initial;
    --Color_Dex_PartyBox_Content_Export: White;
    --Background_Dex_PartyBox_Content_Item: linear-gradient(to right, Skyblue, hsl(0,0%,60%));
    --Border_Dex_PartyBox_Content_Item: initial;
    --Color_Dex_PartyBox_Content_Item: initial;
    --Background_Dex_PartyBox_Content_Trash: initial;
    --Border_Dex_PartyBox_Content_Trash: initial;
    --Color_Dex_PartyBox_Content_Trash: Red;
	--Background_Dex_PartyBox_Item: hsl(0,0%,25%);
	--Color_Dex_PartyBox_Item: White;
	--Border_Dex_PartyBox_Item: 1px Solid hsl(0,0%,40%);
	--Border_Dex_PartyBox_Redirect: 2px Solid Black;
	--Background_Dex_PartyBox_Redirect_Label: hsl(0,0%,30%);
    --Border_Dex_PartyBox_Redirect_Label: 1px Solid Black;
	--Color_Dex_PartyBox_Redirect_Label: initial;
	--Background_Dex_PartyBox_Redirect_Label_Selected: hsl(0,0%,50%);
	--Color_Dex_PartyBox_Redirect_Label_Selected: Black;
	--Background_Dex_Settings: hsl(0,0%,40%);
	--Color_Dex_Settings: initial;
	--Border_Dex_Settings: 2px Solid Black;
	--Background_Dex_Settings_Button: hsl(0,0%,30%);
    --Border_Dex_Settings_Button: 1px Solid hsl(0,0%,20%);
	--Color_Dex_Settings_Button: initial;
    --Background_Dex_Settings_Item: initial;
	--Border_Dex_Settings_Item: 1px Solid hsl(0,0%,10%);
    --Color_Dex_Settings_Item: initial;
	--Background_Dex_Settings_Label: hsl(0,0%,50%);
    --Border_Dex_Settings_Label: 1px solid hsl(0,0%,10%);
	--Color_Dex_Settings_Label: initial;
	--Background_Dex_Settings_Label_Selected: hsl(0,0%,30%);
	--Color_Dex_Settings_Label_Selected: initial;
    --Background_Dex_Settings_Select: White;
    --Border_Dex_Settings_Select: 1px Solid Black;
    --Color_Dex_Settings_Select: Black;

    /* Layout1 */
    --Background_Layout1_Content_Footer: hsl(0,0%,30%);
    --Border_Layout1_Content_Footer: 1px Solid hsl(0,0%,0%);
	--Color_Layout1_Content_Footer: initial;
    --Background_Layout1_Content_Footer_Item: initial;
	--Border_Layout1_Content_Footer_Item: initial;
	--Border_Layout1_Content: initial;
	--Background_Layout1_Description_Content: hsl(0,0%,35%);
    --Border_Layout1_Description_Content: 1px Solid Black;
	--Color_Layout1_Description_Content: initial;
	--Border_Layout1_Header: initial;
	--Background_Layout1_Header_Content: repeating-linear-gradient(0deg, hsl(0,0%,45%) 0px, hsl(0,0%,45%) 20%, transparent 0px, transparent 50%) 0% 0% / 1em 1em, repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 10%, transparent 0px, transparent 50%) 0% 0% / 1em 1em hsl(0,0%,45%);
	--Color_Layout1_Header_Content: initial;
	--Border_Layout1_Header_Content: 1px Solid Black;
	--Background_Layout1_List_Content: hsl(0,0%,40%);
    --Border_Layout1_List_Content: 1px Solid Black;
	--Color_Layout1_List_Content: initial;
	--Shadow_Layout1_List_Content_Label: 1px 1px hsl(0,0%,0%);
	--Background_Layout1_List_Content_Label: hsl(0,0%,35%);
	--Border_Layout1_List_Content_Label: 1px Solid hsl(0, 0%, 25%);
	--Color_Layout1_List_Content_Label: initial;
	--Background_Layout1_List_Content_Label_Selected: hsl(0,0%,25%);
	--Shadow_Layout1_List_Content_Label_Selected: 1px 1px hsl(0,0%,0%);
	--Color_Layout1_List_Content_Label_Selected: initial;
	--Background_Layout1_List_Header: hsl(0,0%,35%);
    --Border_Layout1_List_Header: 1px Solid Black;
	--Color_Layout1_List_Header: initial;
	--Background_Layout1_List_Header_Search: White;
    --Border_Layout1_List_Header_Search: 1px Solid Black;
	--Color_Layout1_List_Header_Search: hsl(0,0%,10%);
	--Background_Layout1_Menu: hsl(0,0%,25%);
    --Border_Layout1_Menu: 1px Solid Black;
	--Color_Layout1_Menu: initial;
	--Background_Layout1_Menu_List: initial;
    --Border_Layout1_Menu_List: 1px Solid Black;
    --Color_Layout1_Menu_List: initial;
    --Background_Layout1_Menu_List_Item: initial;
    --Border_Layout1_Menu_List_Item: 1px dashed hsl(0,0%,20%);
    --Color_Layout1_Menu_List_Item: initial;
    --Background_Layout1_Navigation_Label: hsl(0,0%,25%);
    --Border_Layout1_Navigation_Label: 1px solid black;
    --Color_Layout1_Navigation_Label: initial;
    --Background_Layout1_Navigation_Label_Selected: hsl(0,0%,50%);
    --Color_Layout1_Navigation_Label_Selected: Black;
    --Background_Layout1_Navigation_Button: hsl(0,0%,35%);
    --Color_Layout1_Navigation_Button: initial;
	--Background_Layout1_Sidebar_Content: hsl(0,0%,40%);
    --Border_Layout1_Sidebar_Content: initial;
	--Color_Layout1_Sidebar_Content: initial;
    --Background_Layout1_Sidebar_Content_Item: initial;
    --Color_Layout1_Sidebar_Content_Item: initial;
    --Border_Layout1_Sidebar_Content_Item: 1px Dashed hsl(0,0%,30%);
    --Border_Layout1_Sidebar_Footer: initial;
	--Background_Layout1_Sidebar_Footer_Label: hsl(0,0%,30%);
    --Border_Layout1_Sidebar_Footer_Label: initial;
	--Color_Layout1_Sidebar_Footer_Label: initial;
	--Background_Layout1_Sidebar_Footer_Label_Selected: hsl(0,0%,50%);
	--Color_Layout1_Sidebar_Footer_Label_Selected: Black;
	--Background_Layout1_Sidebar_Header: hsl(0,0%,35%);
    --Border_Layout1_Sidebar_Header: 1px Solid Black;
	--Color_Layout1_Sidebar_Header: initial;
    --Background_Layout1_Sidebar_Header_Label: initial;
    --Border_Layout1_Sidebar_Header_Label: initial;
    --Color_Layout1_Sidebar_Header_Label: initial;
	--Background_Layout1_Sidebar_Header_Label_Selected: initial;
	--Color_Layout1_Sidebar_Header_Label_Selected: initial;
    --Color_Layout1_Footer_Range: initial;
    --Background_Layout1_Footer_Range: hsl(0, 0%, 40%);
    --Border_Layout1_Footer_Range: 2px solid hsl(0, 0%, 20%);
    --Color_Layout1_Footer_List: initial;
    --Background_Layout1_Footer_List: hsl(0, 0%, 25%);
    --Border_Layout1_Footer_List: 1px solid hsl(0, 0%, 0%);

    /* Location */
	--Background_Location_Content_Redirect: hsl(0,0%,25%);
	--Border_Location_Content_Redirect: initial;
	--Color_Location_Content_Redirect: initial;
	--Background_Location_Sidebar_Annotation: hsl(0,0%,70%);
	--Border_Location_Sidebar_Annotation: 1px solid black;
	--Color_Location_Sidebar_Annotation: black;
    --Background_Location_Sidebar_Content: hsl(0,0%,40%);
	--Border_Location_Sidebar_Content: 1px Solid Black;
	--Color_Location_Sidebar_Content: initial;
    --Background_Location_Sidebar_Content_Item: initial;
	--Border_Location_Sidebar_Content_Item: 1px Dashed hsl(0,0%,25%);
	--Color_Location_Sidebar_Content_Item: initial;
	--Background_Location_Sidebar_Content_Item_Title: hsl(0,0%,20%);
	--Border_Location_Sidebar_Content_Item_Title: 1px Solid Black;
	--Color_Location_Sidebar_Content_Item_Title: initial;
    --Background_Location_Sidebar_Content_Search: White;
	--Border_Location_Sidebar_Content_Search: 1px Solid Black;
    --Color_Location_Sidebar_Content_Search: hsl(0,0%,10%);
    --Background_Location_Sidebar_Content_Search_Item: hsl(0,0%,100%);
	--Border_Location_Sidebar_Content_Search_Item: 1px dashed hsl(0,0%,25%);
    --Color_Location_Sidebar_Content_Search_Item: hsl(0,0%,10%);
	--Background_Location_Sidebar_Content_Title: hsl(0,0%,50%);
	--Border_Location_Sidebar_Content_Title: initial;
	--Color_Location_Sidebar_Content_Title: initial;
	--Background_Location_Sidebar_Header_Label: hsl(0,0%,30%);
	--Border_Location_Sidebar_Header_Label: 1px Solid Black;
	--Color_Location_Sidebar_Header_Label: initial;
	--Background_Location_Sidebar_Header_Label_Selected: hsl(0,0%,50%);
	--Color_Location_Sidebar_Header_Label_Selected: Black;
}