






#dex > aside {
    height:90%;
	/*width:500px;*/
    position:absolute;
    z-index:3;
    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-around;
}

#dex > aside[name='settings'] > span[name='checkbox'] {
	flex-direction:row;
    justify-content:space-evenly;
}
#dex > aside[name='settings'] > span {
	background:var(--Background_Dex_Settings_Item);
	color:var(--Color_Dex_Settings_Item);
	border:var(--Border_Dex_Settings_Item);
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
	flex-wrap:wrap;
	overflow:auto;
	border-bottom: none;
	border-left: none;
}
#dex > aside[name='settings'] > span:first-child  {
	border-top: none;
}
#dex > aside[name='settings'] > span[name='resize'], #dex > aside[name='settings'] > span[name='theme'] {
	height:50%;
}

#dex > aside[name='settings'] > span[name='variant'] {
	height:150%;
}



#dex > aside[name='settings'] > span[name='variant'] > span:first-child {
	height:70%;
}
#dex > aside[name='settings'] > span[name='variant'] > span:last-child {
	height:30%;
}

#dex > aside[name='settings'] > span[name='variant'] > span {
	display:flex;
    justify-content:center;
    align-items:center;
    align-content:space-around;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
}

#dex > aside[name='settings'] > span[name='variant'] > div {
    display:flex;
    justify-content:center;
    flex-wrap:nowrap;
    align-content:center;
    align-items:center;
    flex-direction:row;
	width:100%;
}
#dex > aside[name='settings'] span select.None {
	color:rgba(0, 0, 0, 0.5);
	/*font-style:italic;
	text-shadow:1px 1px rgb(0 0 0 / 10%);*/
}
#dex > aside[name='settings'] span select:not([disabled]) {
	cursor:pointer;
}
#dex > aside[name='settings'] span select {
	padding:10px;
    width:80%;
}
#dex > aside[name='settings'] span select, #dex > aside[name='settings'] span option {
	text-align:center;
	font-family:'Roboto';
	font-weight:bold;
}
#dex > aside[name='settings'] span select, #dex > aside[name='settings'] span select {
	background:var(--Background_Dex_Settings_Select);
	color:var(--Color_Dex_Settings_Select);
	border:var(--Border_Dex_Settings_Select);
}
#dex > aside[name='settings'] span[name='resize'] div {
	display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    justify-content:center;
}
#dex > aside[name='settings'] {
	background:var(--Background_Dex_Settings);
	color:var(--Color_Dex_Settings);
	border:var(--Border_Dex_Settings);

	display:inline-flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:stretch;
    flex-wrap:nowrap;
    align-content:stretch;
    transition:.5s ease width, 0s ease opacity 1s;
	max-width:70vw;

	position:absolute;
	right:0;
    top:10%;
    height:90%;
    overflow:hidden;

	border-top: none;
	border-right: none;
	border-bottom: none;
}
#dex > aside[name='settings']:not(.open) {
	width:0;
}
#dex > aside[name='settings'].open {
	width:500px;
}
#dex > aside[name='settings'] > span {
    transition:.5s ease opacity .5s;
}
#dex > aside[name='settings']:not(.open) > span {
    opacity:0;
    transition:none;
}
#dex > aside[name='settings'].open > span {
    opacity:1;
}
#dex > aside section {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    align-content:center;
    flex-wrap:nowrap;
    flex-direction:column;
    height:100%;
	position:relative;
    width:80%;
	overflow:hidden;
}




























#dex > aside  {
    transform-origin:left;
}

#dex > aside section:not([name]) {
    width:100px;
	display:flex;
	border:var(--Border_Dex_PartyBox_Redirect);
	border-top: none;
	border-bottom: none;
}





#dex > aside section:not([name]) label {
    height:50%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
	background:var(--Background_Dex_PartyBox_Redirect_Label);
	color:var(--Color_Dex_PartyBox_Redirect_Label);
	border:var(--Border_Dex_PartyBox_Redirect_Label);
	border-top:none;
	border-left: none;
	border-right: none;
}
#dex > aside[name='settings'] > span[name='imagetype'] > span {
	display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
	width:50%;
    flex-direction:column;
	position:relative;
}
#dex > aside[name='settings'] > span[name='imagetype'] > span:first-child {
	width:60%;
}
#dex > aside[name='settings'] > span[name='imagetype'] > span:last-child {
	width:40%;
}
#dex > aside[name='settings'] > span[name='imagetype'] img {
	width:100%;
    height:60%;
	position:relative;
	padding: 10px 0;
}
#dex > aside[name='settings'] > span[name='imagetype'] img[src=''] {
	visibility:hidden;
}
#dex > aside[name='settings'] > span[name='imagetype'] img[src='']::after {
	content:'?';
    display:flex;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    opacity:1;
    visibility:visible;
    justify-content:center;
    align-items:center;
	font-size:xxx-large;
}


#dex > aside[name='settings'] > span[name='imagetype'] > span:last-child select {
	padding:5px;
	margin:2px 0;
}



#dex > aside section:not([name]) p {
	pointer-events:none;	
}

#dex > aside section > b {
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}
#dex > aside section > b span {
	position:absolute;
	pointer-events:none;
}
#dex > aside section > b * {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#dex > aside section > b:hover, #dex > aside section > b:active {
    font-weight:bold;
}
#dex > aside section > div {
    width:100%;
    height:15.83333%;
    position:relative;
}
#dex > aside div aside, #dex > aside section ul {
	width:100%;
	height:100%;
}

#dex > aside div span[name='settings'] button:first-child:active {
	transform:rotate(-180deg);
}
#dex > aside div span[name='settings'] button:last-child:active {
	filter:invert(1);
}



#dex > aside div aside > span input, #dex > aside div aside > span select, #dex > aside div aside > span select * {
	background:none;
    border:none;
	cursor:pointer;
	color:White;
}

#dex > aside div aside > span input {
    width:90%;
	text-align:center;
	outline:none;
    border-radius:0;
}

#dex aside[name='settings'] span button {
	background:var(--Background_Dex_Settings_Button);
	color:var(--Color_Dex_Settings_Button);
	border:var(--Border_Dex_Settings_Button);
	border-radius: 4px;
}
#dex aside[name='settings'] span button:active {
	transform:scale(0.97);
}

#dex aside[name='settings'] span label {
	padding:20px 30px;
	display:flex;
	align-items:center;
	justify-content:center;
	background:var(--Background_Dex_Settings_Label);
	color:var(--Color_Dex_Settings_Label);
	border:var(--Border_Dex_Settings_Label);
	font-weight:bold;
	position:relative;
	transition:none;
	cursor:pointer;
	margin:0 10px;
}
#dex aside[name='settings'] span input:checked + label {
	background:var(--Background_Dex_Settings_Label_Selected);
	color:var(--Color_Dex_Settings_Label_Selected);
}
#dex aside[name='settings'] span label > span {
	position:absolute;
	top:5px;
	left:5px;
	background:linear-gradient(337deg, rgba(0, 255, 162, 1) 0%, rgba(27, 255, 172, 1) 16%, rgba(57, 255, 184, 1) 21%, rgba(27, 255, 172, 1) 26%, rgba(0, 204, 130, 1) 56%, rgba(0, 255, 162, 1) 100%);
	width:10px;
	height:10px;
	border-radius:100%;
	opacity:0;
	transition:none;
	filter:brightness(0.9);
}
#dex aside[name='settings'] span input:checked + label > span {
	opacity:1;
	transition:opacity 0.5s ease;
}


#dex > aside div aside > span input:focus-within, #dex > aside div aside > span select:focus-within, #dex > aside div aside > span select:focus-within * {
    border:unset;
	color:black;
	cursor:auto;
	font-style:normal;
	background:white;
}




#imgtype {
	display:inline-block;
	width:80%;
	position:relative;
}
#imgtype * {
	color:Black;
}








#dex aside[name='settings'] span[name='resize'] p {
	font-size:15px;
	text-align:center;
	font-weight:bold;
}
#dex aside[name='settings'] span[name='resize'] input {
	width:80%;
	cursor:grab;
}
#dex aside[name='settings'] span[name='resize'] input:active {
	width:80%;
	cursor:grabbing;
}
#resetcheck {
	width:100%;
	text-align:center;
}
#resetcheck {
	cursor:pointer;
	background:#E52222;
	border-width:1px;
	border-style:solid;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	height:35px;
	width:60%;
	text-align:center;
	color:var(--font2);
}
#resetcheck:hover {
	filter:brightness(90%);
}
#resetcheck:active {
	transform:scale(0.97);
}
#dex header li[name='settings'] {
	text-align:right;
	display:block;
}
#dex header li[name='settings'] > * {
	filter:invert(29%) sepia(2%) saturate(0%) hue-rotate(335deg) brightness(94%) contrast(90%);
    transition:0.5s ease;
    transform-origin:center;
    position:absolute;
    top:10px;
    right:5px;
}
#dex header li[name='settings'] > * > * {
    line-height:100%;
    margin-left:2px;
}
#dex header li[name='settings'] > *.open {
	transform:scale(0.8) rotate(90deg);
}




#dex header li[name='count'] div {
	display: flex;
    justify-content: space-between;
}


#dex > aside[name='settings'] span[name='theme'] > div {
	position:relative;
	width:60px;
	height:30px;
	border-radius:40px;
	border-width:1px;
	border-style:solid;
	overflow:hidden;
	text-align:center;
}
#dex > aside[name='settings'] span[name='theme'] > div input {
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	cursor:pointer;
	opacity:0;
	z-index:2;
}
#dex > aside[name='settings'] span[name='theme'] > div span {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	opacity:1;
	border-radius:40px;
	transition:0.5s ease transform, 0.2s ease background, 0.2s ease opacity;
}
#dex > aside[name='settings'] span[name='theme'] > div span:after {
	content:'';
	position:absolute;
	width:58px;
	height:58px;
	border-radius:50%;
	transition:0.5s ease transform, 0.2s ease background, 0.2s ease opacity;
	background-image:url('./../media/Images/FinalDex/Icon/Light.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:27px;
	transform:translate(-43px, -15px);
}
#dex > aside[name='settings'] span[name='theme'] > div input:active + span {
	opacity:0.7;
}
#dex > aside[name='settings'] span[name='theme'] > div input:checked + span:after {
	transform:translate(-17px, -15px);
	background-image:url('./../media/Images/FinalDex/Icon/Dark.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:25px;
}
#dex > aside section:not([name]) input:checked + label {
    background:var(--Background_Dex_PartyBox_Redirect_Label_Selected);
    color:var(--Color_Dex_PartyBox_Redirect_Label_Selected);
}
#dex > aside section:not([name]) label .indicator {
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.dex_list li label > div caption.hidden {
	display: none;
}

