body {
    background:var(--Background_Body);
    color:var(--Color_Body);
}

#console {
	position:fixed;
    z-index:1000;
	cursor:default;
	display:flex;
    flex-direction:column;
	pointer-events:none;
	max-width:50vw;
    max-height:95vh;
}
#console p {
	padding:5px 20px;
	transition:1s ease opacity 0.5s;
	opacity:0;

	background:var(--Background_Console);
	color:var(--Color_Console);
	border:var(--Border_Console);
}
#console.top {
	top:50px;
    right:25px;
}
#console.bottom {
	bottom:25px;
    right:50px;
}











#editor {
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
    width: 95vw;
    height: 90vh;
    position: fixed;
	z-index: 100;
	top: 5%;
    left: 2.5%;
}
#editor > span {
	content:"";
	position:fixed;
	width:100vw;
	height:100vh;
	top: 0;
    left: 0;
	background: rgba(0,0,0,0.7);
	z-index: -1;
}
#editor input::-webkit-outer-spin-button,
#editor input::-webkit-inner-spin-button {
	opacity: 1;
}
#editor > div {
    width:100%;
    height:100%;
    background: hsl(0,0%,50%);
    border: 1px solid black;
	overflow: auto;
}

#editor button {
    width: 100%;
    padding: 20px;
	background: hsl(0,0%,50%);
    border: 1px solid black;
	font-weight:bold;
	cursor: default;
	outline:none;
}
#editor.change button:active > * {
	transform:scale(0.8);
}
#editor.change button {
	cursor: pointer;
	background: mediumseagreen;
}


#editor:not(.active) {
	display:none;
}
#editor thead td {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 10px 0;
	background:white;
}


#editor table  {
	border-collapse: collapse;
	width: 100%;
}
#editor th,
#editor td {
	position: relative;
	text-align: center;
	min-width: 150px;
}

#editor table td img {
	max-height: 100%;
	pointer-events:none;
}

#editor tbody td img {
    position: relative;
    top: 25px;
}

#editor table td input,
#editor table td select {
	width: 100%;
    height: 100%;
	background: none;
    border: none;
	text-align: center;
	padding: 5px 10px;
	appearance: none;
	cursor: default;
	display:block;
}
#editor table td img[src=""]::after {
	content: "?";
    visibility: visible;
    font-size: xx-large;
}
#editor table td img[src=""] {
	visibility: hidden;
    position: relative;
}

#editor p {
	z-index: 1;
    position: relative;
	pointer-events: none;
}
#editor tbody td[name='Move'] select {
	text-shadow: 1px 1px black;
}

#editor table tbody td input[type=checkbox] {
    border: 2px inset hsl(0,0%,27%);
    background: dimgray;
}
#editor table td input[type=checkbox]:checked {
	background: chartreuse;
}
#editor tbody td input,
#editor tbody td select,
#editor tbody td input,
#editor tbody td input::placeholder {
	color:white;
}
#editor table td input::placeholder {
	opacity: 0.5;
}

#editor table td:not(:has(input ~ input)) > input,
#editor table td:not(:has(select ~ select)) > select {
    position: absolute;
    top: 0;
    left: 0;
}


#editor table thead input,
#editor table thead select {
	color:transparent;
}

#editor table thead td[name='Move'] > span {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor table thead td[name='Move'] > span::after {
    font-size: small;
    position: absolute;
    top: 0;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#editor table thead td[name='Move'] > span:nth-child(2)::after {
	content: "Move #1";
}
#editor table thead td[name='Move'] > span:nth-child(3)::after {
	content: "Move #2";
}
#editor table thead td[name='Move'] > span:nth-child(4)::after {
	content: "Move #3";
}
#editor table thead td[name='Move'] > span:nth-child(5)::after {
	content: "Move #4";
}



#editor thead input:focus {
	color:black;
}

#editor table thead td:not(:has(input ~ input)):has(input:not([type=checkbox])) p {
	position: relative;
    top: -20px;
}

#editor *[data_style='♂'],
#editor *[name='♂'] {
	color:Blue;
	font-family:fantasy;
	text-shadow: 1px 1px black;
}
#editor *[data_style='♀'],
#editor *[name='♀'] {
	color:Red;
	font-family:fantasy;
	text-shadow: 1px 1px black;
}
#editor *[data_style='☿'],
#editor *[name='☿'] {
	color:Black;
	font-family:fantasy;
}


#editor table td select option {
	color:black;
}

#editor td {
	border: 1px dashed hsl(0,0%,65%);
    background: hsl(0,0%,45%);
}


#editor .dummy {
	width: 50px;
	height: 50px;
	display:block;
}

img[title='Pokemon Dollar'] {
	max-height:12px;
}

#editor thead td,
#editor thead td * {
	color:black;
}